* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url("../giocoSito/gameImages/dark_forest.png"); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  margin: 0;
}

.container {
  text-align: center;
}

.title {
  font-size: 120px; 
  text-transform: uppercase; 
  font-weight: bold;
  color: 	#32174D;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.letter {
  animation: bounce 0.5s ease-in-out infinite alternate;
  display: inline-block;
  margin: 0 5px;
}

.letter:nth-child(odd) {
  animation-delay: 0.1s;
}

.letter:nth-child(even) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.play-button {
  background-color: #FFC107; 
  color: #1c1c1c;
  font-size: 30px; 
  font-weight: bold;
  border: none;
  padding: 25px 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  margin-top: 60px;
  font-family: 'Press Start 2P', cursive;
  width: 30%;
}

.play-button-login {
  background-color: #FFC107; 
  color: #1c1c1c;
  font-size: 30px; 
  font-weight: bold;
  border: none;
  padding: 25px 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  margin-top: 60px;
  margin-top: 60px;
  font-family: 'Press Start 2P', cursive;
  width: 70%;
}

.play-button:hover {
  background-color: #e0a500; 
}

.play-button:active {
  background-color: #c89500; 
  transform: scale(0.98); 
}

.play-button-login:hover {
  background-color: #e0a500; 
}

.play-button-login:active {
  background-color: #c89500; 
  transform: scale(0.98); 
}

.menu {
  margin-top: 20px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}


.modal-content {
  background-color: #32174D;
  color: #FFC107;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: #32174D;
  text-decoration: none;
  cursor: pointer;
}

#titoloLOGIN{
  font-size: 40px; 
  text-transform: uppercase; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#descLOGIN{
  font-family: 'Lobster', cursive;
  font-size: 20px; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}